.container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 35px;
    margin-right: 25px;
}

.row {
    align-items: center;
    flex-direction: row;
}

.mobile {
    justify-content: center;
    position: relative;
    width: 100%;
}